body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

header {
    display: flex;
    border: 3px solid rgb(197, 0, 0);
    justify-content: space-around;
    align-items: center;
}

.headertext {

}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

section {
    display: flex;
    border: 3px solid rgb(197, 0, 0);
}


