body {
    display: flex;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}

.headertext {
    font-size: 24px;
    margin: 10px 16px;
    padding: 5px;
    color: #F9FAF8;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 32px;
    list-style: none;
}

li {
    margin: 12px;
    padding: 5px;
    font-size: 18px;
    color: #E5E7EB;
}

section, footer {
    display: flex;
}

.section1 {
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.sec1 {
    margin: 30px 16px;
}

.leftsec1 {
    padding: 10px 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sec1p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #21b96b;
    border-radius: 5px;
    color: #F9FAF8;
    border: #21b96b 1px solid;
    font-size: 16px;
    padding: 8px 16px;
}

.sec4 button {
    border: #F9FAF8 1px solid;
}

.section2 {
    flex-direction: column;
    align-items: center;
}

.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 12px;
}

.bigimg {
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
}

.imgbox {
    flex: 1;
    text-align: center;
}

.imgbox img {
    border: #21b96b solid 5px;
    border-radius: 5px;
}

.imgtext {
    font-size: 18px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #152937;
}

.section3 {
    background-color: #E5E7EB;
    background-color: #bbe46b;
    flex-direction: column;
}

.sec3 {
    display: flex;
    margin: 60px auto;
    padding: 0px 20px;
    gap: 18px;
}

q {
    font-size: 24px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    align-self: flex-start;
}

h5 {
    font-size: 18px;
    align-self: flex-end;
}

.section4 {
    justify-content: center;
    align-items: center;
}

.sec4box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21b96b;
    margin: 40px 0px;
    border-radius: 5px;
    padding: 0px 20px;
}

.sec4headertext {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.sec4text {
    font-size: 18px;
}

.sec4 {
    margin: 30px 40px;
}

footer {
    padding: 10px;
    justify-content: center;
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
}

@media screen and (max-width: 768px) {
    .section1 {
        flex-wrap: wrap; 
    }
  }
